#home {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .home-content {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    padding-bottom: 6rem;
    width: 87%;
    .hleft {
      width: 50%;
      padding-left: 25px;
      padding-right: 10px;
      h1 {
        line-height: 1.3;
        letter-spacing: 1px;
        font-size: 2.6rem;
        font-family: "circularM";
      }
      h5 {
        line-height: 32px;
        letter-spacing: 0.02rem;
        font-size: 1.15rem;
        padding-top: 13px;
        max-width: 80%;
      }
      button {
        padding: 13px 15px;
        font-size: 1rem;
        background: transparent;
        border: 2px solid #3396ff;
        color: #3396ff;
        border-radius: 5px;
        margin-top: 30px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-family: "circularM";
        &:hover {
          color: white;
          background: #3396ff;
        }
      }
    }
    .hright {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      img {
        width: 100%;
        overflow: hidden;
        transform: rotate(-9deg) translateY(-40px) translateX(-35px);
      }
    }
  }
}
